[submodule "data/coptic/UD_Coptic-Scriptorium"]
	path = data/coptic/UD_Coptic-Scriptorium
	url = https://github.com/UniversalDependencies/UD_Coptic-Scriptorium.git
[submodule "data/coptic/corpora"]
	path = data/coptic/corpora
	url = https://github.com/copticscriptorium/corpora.git
[submodule "data/wolof/UD_Wolof-WTB"]
	path = data/wolof_old/UD_Wolof-WTB
	url = https://github.com/UniversalDependencies/UD_Wolof-WTB.git
[submodule "data/latin/UD_Latin-PROIEL"]
	path = data/latin/UD_Latin-PROIEL
	url = https://github.com/UniversalDependencies/UD_Latin-PROIEL.git
[submodule "data/greek/UD_Ancient_Greek-PROIEL"]
	path = data/greek/UD_Ancient_Greek-PROIEL
	url = https://github.com/UniversalDependencies/UD_Ancient_Greek-PROIEL.git
[submodule "data/maltese/UD_Maltese-MUDT"]
	path = data/maltese/UD_Maltese-MUDT
	url = https://github.com/UniversalDependencies/UD_Maltese-MUDT.git
[submodule "data/uyghur/UD_Uyghur-UDT"]
	path = data/uyghur/UD_Uyghur-UDT
	url = https://github.com/UniversalDependencies/UD_Uyghur-UDT.git
