[submodule "data/coptic/UD_Coptic-Scriptorium"]
	path = data/coptic/UD_Coptic-Scriptorium
	url = https://github.com/UniversalDependencies/UD_Coptic-Scriptorium.git
[submodule "data/coptic/corpora"]
	path = data/coptic/corpora
	url = https://github.com/copticscriptorium/corpora.git
[submodule "data/wolof/UD_Wolof-WTB"]
	path = data/wolof/UD_Wolof-WTB
	url = https://github.com/UniversalDependencies/UD_Wolof-WTB.git
